{% extends "layout.html" %}

{% block title %}
  {{ book.title }}
{% endblock %}


{% block body %}
{% include 'partials/navbar.html' %}
{% block heading %}
  <h1 class="book-title">{{ book.title }}</h1>
{% endblock %}

{% if prompt %}
  <p>{{ prompt }}</p>
{% endif %}

<div class="">
  <i>{{ book.isbn }}</i> {{ book.title }} by {{ book.author }}
  <i>Published</i> {{ book.year }}

  {% if reviews %}
  {% for review in reviews %}
      <ul>
        <li> Rating: {{ review.rating }}</li>
        <li> {{ review.review }}</li>
        <li> By {{ review.full_name }}</li>
      </ul>
  {% endfor %}
  {% endif %}

  <form class="" action="{{ url_for('book', isbn=book.isbn)}}" method="post">
    <div class="form-group">
      <textarea class="form-control" name="review" rows="5" placeholder="">
        Enter your thoughts on this piece of art...
      </textarea>
    </div>
    <p>Rating</p>
    <div class="form-group">
            <select class="form-control" name="rating" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
        </div>
    <div class="form-group">
        <button class="btn btn-primary">Submit Review</button>
    </div>
  </form>
</div>
{% endblock %}
