{% extends "layout.html" %}

{% block title %}
  Login
{% endblock %}


{% block body %}
{% block heading %}
  <h1 class="login">Login</h1>
{% endblock%}

{% if message %}
  <p class="account-success">{{ message }}</p>
{% endif %}

<form class="login-form" action="{{ url_for('index') }}" method="post">
  <div class="form-group">
    <input class="form-control" type="text" name="username" placeholder="username" required>
  </div>

  <div class="form-group">
    <input class="form-control" type="password" name="password" placeholder="Password" required>
  </div>
  <button class="btn btn-primary">Login</button>
</form>

{% if error %}
  <p class="error-message">{{ error }}</p>
{% endif %}
<a class="create-account" href="{{ url_for('register') }}">Create Account</a>
{% endblock %}
