{% extends "layout.html"%}

{% block title %}
  Register
{% endblock %}

{% block body %}

{% block heading %}
<div id="index">
  <div class="register-form">

    <h1 class="register">Register</h1>
  {% endblock %}

  <form action="{{ url_for('register') }}" method="post">
    <div class="form-group">
      <input class="form-control" type="text" name="full_name" placeholder="John Doe" required>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="username" placeholder="Username" required>
    </div>
    <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="Password" required>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Create Account</button>
    </div>
  </form>

  <div class="create-account">
      <a  href="{{ url_for('logout') }}">Login</a>
  </div>

  </div>
</div>
{% endblock %}
